@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  margin: 0;
  padding: 0;
  
  background-color: #f9fafc;
  font-family: "Open Sans", sans-serif;
  color: #000;
}

/*overall button styling*/
button {
  padding: 10px;
  border-radius: 20px;
  border-style: none;

  background-color: #000;
  color: #f9fafc;
  font-size: 1em;

  cursor: pointer;
}

/*flexing containers*/
.flex-container {
  display: flex;
  flex-direction: column;
}

/*header styling*/
header {
  margin: 10px;
}

.site-title {
  font-size: 1rem;
  margin: 10px 0;
}

a {
  color: #69696a;
  text-decoration: none;
  margin: 10px 0;
}

/*main content styling*/
main {
  margin: 10px;
}

.text-title {
  font-size: 2rem;
}

.main-text {
  color: #69696a;
  padding-left: 1.25rem;
  border-left: 5px solid;
}

.circle-section {
  display: none;
}

/*footer styling*/
footer {
  margin: 10px;
}